<form action="/search_place" method="POST">
    <label for="search_term">Search For:</label>
    <input type="text" id="search-term" name="search_term">
    <label for="distance">Distance (m):</label>
    <input type="text" id="distance" name="distance">
    <label for="distance">Current Lat:</label>
    <input type="text" id="latitude" name="latitude">
    <label for="distance">Current Lng:</label>
    <input type="text" id="longitude" name="longitude">
    <button type="submit">Search</button>
</form>

<p>Example Lat Lon: 37.4885547, 127.0514094</p>
<p>distance: 1000 -> brians coffee, 10000 -> brians coffee, dcamp, maru180</p>
